@use 'abstracts/variables';
@use 'abstracts/mixins';
@use './media-queries';

.info-title{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-lg, variables.$fw-semibold, variables.$clr-red);
    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-med;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        font-size: variables.$fs-med;
    }
}

.info-desc{
    @include mixins.set-font(variables.$ff-secondary, variables.$fs-sm, variables.$fw-regular, variables.$clr-black);
    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-sm;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        font-size: variables.$fs-sm;
    }
}

.page-title{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-lg, variables.$fw-bold, variables.$clr-red);
    width: auto;
    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-med;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        font-size: variables.$fs-med;
    }
}

.cards-title{
    @include mixins.set-font(variables.$ff-secondary, variables.$fs-med, variables.$fw-medium, variables.$clr-black);
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        font-size: variables.$fs-sm;
    }
}

.cards-text{
    @include mixins.set-font(variables.$ff-secondary, variables.$fs-sm, variables.$fw-regular, variables.$clr-dark-gray);
}

.link-password{
    @include mixins.set-font(variables.$ff-secondary, variables.$fs-sm, variables.$fw-semibold, variables.$clr-black);
}

.space-register{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-sm, variables.$fw-semibold, variables.$clr-red);
    text-align: left;
    width: 15.563rem;
    margin-top: 0.5rem;
    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-sm;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        font-size: variables.$fs-sm;
        width: 23.375rem !important;
    }
}

.box-register{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-sm, variables.$fw-semibold, variables.$clr-dark-gray);
    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-sm;
        width: 18.2rem !important;
        margin-right: 11rem;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        font-size: variables.$fs-sm;
    }
}

.modal-titles{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-sm, variables.$fw-semibold, variables.$clr-red);
    width: auto;
    text-align: left;
    margin-top: 0.5rem;
}

.modal-info{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-sm, variables.$fw-regular, variables.$clr-black);
    width: auto;
    text-align: left;
    margin-top: 0.5rem;
}

.users-titles{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-med, variables.$fw-semibold, variables.$clr-red);
    text-align: center;
    @include media-queries.respond-to(media-queries.$phone) {
        width: 21.25rem;
        font-size: variables.$fs-sm;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        width: 21.25rem;
        font-size: variables.$fs-sm;
    }
}

.users-info{
    @include mixins.set-font(variables.$ff-secondary, variables.$fs-sm, variables.$fw-semibold, variables.$clr-black);
    width: 40rem;
    text-align: center;
    margin-top: 0.5rem;
    background-color: transparent;
    @include media-queries.respond-to(media-queries.$phone) {
        width: 21.25rem;
        font-size: variables.$fs-sm;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        width: 21.25rem;
        font-size: variables.$fs-sm;
    }
}

.custom-style{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-sm, variables.$fw-medium, variables.$clr-black);
    background-color: variables.$clr-light-gray !important;
}

.table-titles{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-med, variables.$fw-semibold, variables.$clr-white);
    background-color: variables.$clr-red;
}