@use 'abstracts/variables';
@use 'abstracts/mixins';
@use './media-queries';

.info-title{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-xlg, variables.$fw-bold, variables.$clr-red);
    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-med;
    }
}

.info-desc{
    @include mixins.set-font(variables.$ff-secondary, variables.$fs-med, variables.$fw-regular, variables.$clr-black);
    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-xsm;
    }
}

.cards-title{
    @include mixins.set-font(variables.$ff-secondary, variables.$fs-med, variables.$fw-medium, variables.$clr-black);
}

.cards-text{
    @include mixins.set-font(variables.$ff-secondary, variables.$fs-xsm, variables.$fw-regular, variables.$clr-dark-gray);
}

.space-register{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-xmed, variables.$fw-semibold, variables.$clr-red);
    text-align: left;
    width: 23.375rem;
    margin-top: 0.5rem;
}

.box-register{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-med, variables.$fw-regular, variables.$clr-dark-gray);
}

.modal-titles{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-xsm, variables.$fw-semibold, variables.$clr-red);
    width: auto;
    text-align: left;
    margin-top: 0.5rem;
}

.modal-info{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-xsm, variables.$fw-regular, variables.$clr-black);
    width: auto;
    text-align: left;
    margin-top: 0.5rem;
}

.users-titles{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-xlg, variables.$fw-semibold, variables.$clr-red);
    width: 40rem;
    text-align: left;
    margin-top: 0.5rem;
}

.users-info{
    @include mixins.set-font(variables.$ff-secondary, variables.$fs-lg, variables.$fw-regular, variables.$clr-black);
    width: auto;
    text-align: left;
    margin-top: 0.5rem;
    background-color: transparent;
}

.table-info{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-sm, variables.$fw-medium, variables.$clr-black);
    background-color: variables.$clr-light-gray !important;
}

.table-titles{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-med, variables.$fw-semibold, variables.$clr-white);
    background-color: variables.$clr-red;
}