@use 'abstracts/variables';
@use 'base/typography';
@use 'abstracts/mixins';
@use './media-queries';

.ending-bar{
    width: auto;
    height: 15.25rem;
    background-color: variables.$clr-black;
    border: none; 
    margin-top: 5rem;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
    }
}

.logo-footer{
    width: 70%;
}

.footer-info{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-med, variables.$fw-bold, variables.$clr-white);
    text-align: left;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
        text-align: center;
        margin: auto;
        margin-top: 1rem;
    }
}

.footer-info:hover{
    color: variables.$clr-white;
}

.footer-no-item{
    list-style-type: none;
}

.footer-text{  
    @include mixins.set-font(variables.$ff-primary, variables.$fs-sm, variables.$fw-regular, variables.$clr-white);
    text-align: left;
    text-decoration: none;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
        text-align: center;
        margin: auto;
    }
}

.footer-text:hover{
    opacity: 70;
    color: variables.$clr-white;
}

.icon-sm{
    width: 27px;
    height: 26px;
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        display: none;
    }
}

.row-move{
    text-align: center;
}

.margin-plus{
    margin-top: 10rem;
}

.margin-footer{
    margin-left: 3rem;
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 0;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        margin-left: 0;
    }
}

.blank-page{
    margin-top: 3rem;
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        margin-top: 38rem;
    }
}

@include media-queries.respond-to(media-queries.$phone) {
    .text-start{
        text-align: center !important;
    }

    .icon-move{
        align-items: center;
    }
}

@include media-queries.respond-to(media-queries.$tablet-landscape) {
    .margin-footer-tablet{
        margin-left: 3rem;
    }

    .me-3{
        margin-right: 0.5rem !important;
    }
}