@use 'abstracts/variables';
@use 'base/typography';
@use 'abstracts/mixins';
@use './media-queries';

.ending-bar{
    width: auto;
    height: 19rem;
    background-color: variables.$clr-black;
    border: none; 
    margin-top: 5rem;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
    }
}

.footer-info{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-sm, variables.$fw-bold, variables.$clr-white);
    text-align: left;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
    }
}

.footer-info:hover{
    color: variables.$clr-white;
}

.footer-no-item{
    list-style-type: none;
}

.footer-text{  
    @include mixins.set-font(variables.$ff-primary, variables.$fs-xsm, variables.$fw-regular, variables.$clr-white);
    text-align: left;
    text-decoration: none;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
    }
}

.footer-text:hover{
    opacity: 70;
    color: variables.$clr-white;
}

.icon-sm{
    width: 27px;
    height: 26px;
}

.row-move{
    text-align: center;
}

.margin-plus{
    margin-top: 10rem;
}