@use 'abstracts/variables';
@use 'base/typography';
@use 'abstracts/mixins';
@use './media-queries';

.ending-bar{
    width: auto;
    height: 19rem;
    background-color: variables.$clr-black;
    border: none; 
    margin-top: 5rem;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        height: auto;
    }
}

.footer-info{
    @include mixins.set-font(variables.$ff-primary, variables.$fs-sm, variables.$fw-bold, variables.$clr-white);
    text-align: left;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
        text-align: center;
        margin: auto;
        margin-top: 1rem;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        font-size: variables.$fs-xsm;
        height: auto;
        text-align: center;
        margin: auto;
        margin-top: 1rem;
    }
}

.footer-info:hover{
    color: variables.$clr-white;
}

.footer-no-item{
    list-style-type: none;
}

.footer-text{  
    @include mixins.set-font(variables.$ff-primary, variables.$fs-xsm, variables.$fw-regular, variables.$clr-white);
    text-align: left;
    text-decoration: none;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
        text-align: center;
        margin: auto;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        height: auto;
        text-align: center;
        margin: auto;
    }
}

.footer-text:hover{
    opacity: 70;
    color: variables.$clr-white;
}

.icon-sm{
    width: 27px;
    height: 26px;
}

.row-move{
    text-align: center;
}

.margin-plus{
    margin-top: 10rem;
}

.margin-footer{
    margin-left: 3rem !important;
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 0 !important;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        margin-left: 0 !important;
    }
}

@include media-queries.respond-to(media-queries.$phone) {
    .text-start{
        text-align: center !important;
    }

    .icon-move{
        align-items: center;
    }
}

@include media-queries.respond-to(media-queries.$tablet-landscape) {
    .text-start{
        text-align: center !important;
    }

    .icon-move{
        align-items: center;
    }

    .footer-icon{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}