@use 'abstracts/variables';
@use './media-queries';

.navbar1{
    width: auto;
    height: 5.813;
    background-color: variables.$clr-red;
    @include media-queries.respond-to(media-queries.$phone) {
        padding: 0%;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        padding: 0%;
    }
}

.user{
    width: 5rem;
    margin-left: 21.5rem;
}