@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'media-queries';

//top buttons-components

.logo{
    width: 25%;
    margin-left: 3rem;
    @include media-queries.respond-to(media-queries.$phone) {
        width: 60%;
        margin-left: 5rem;
    }
}

.btn-navg{
    @include mixins.btn(variables.$clr-light-gray, variables.$ff-primary, variables.$fs-xsm, variables.$fw-regular, variables.$clr-black);
    width: 11.063rem;
    height: 3.438rem;
    @include media-queries.respond-to(media-queries.$phone) {
        width: 9rem;
        height: 3.438rem;
        margin-top: 1rem;
        margin-left: 0;
    }
}

.btn-search{
    @include mixins.btn(variables.$clr-black, variables.$ff-primary, variables.$fs-xsm, variables.$fw-regular, variables.$clr-white);
    width: 4.878rem;
    height: 3.438rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
}

.search-button-height{ 
    height: 3.25rem;
}

.s-bar {
    @include mixins.btn(variables.$clr-light-gray, variables.$ff-primary, variables.$fs-xsm, variables.$fw-regular, variables.$clr-dark-gray);
    width: 30.769rem;
    text-align: left;
    height: 3.438rem;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0.938rem;
    border-top-left-radius:0.938rem;
    border: none;
    @include media-queries.respond-to(media-queries.$phone) {
        width: 12rem;
        height: 3.438rem;
    }
}

//cards' style and components

.top-card-style{
    background-color: variables.$clr-light-gray;
    height: 26.375rem;
    display: block;
    border-radius: 4.063rem;
    border: none;
    text-align: left;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
    }
}

.margin-top-card{
    margin-left: 3rem;
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 0;
    }
}

.card-style{
    color: variables.$clr-black;
    background-color: variables.$clr-light-gray;
    border-radius: 4.063rem;
    border: none;

}

.img-style{
    height: 26.375rem;
    width: auto;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 4.063rem;
    border-top-left-radius:4.063rem;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 4.063rem;
        border-bottom-left-radius: 0%;
        border-top-left-radius: 4.063rem;
    }
}

.img-cards{
    border-bottom-right-radius: 0%;
    border-top-right-radius: 4.063rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 4.063rem;
    height: 14rem;
}

.btn-view{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-med, variables.$fw-regular, variables.$clr-white);
    width: 80%;
    margin: auto;
}

//modal style

//miscellaneous

.btn-badges{
    @include mixins.btn(variables.$clr-red, variables.$ff-primary, variables.$fs-xlg, variables.$fw-bold, variables.$clr-white);
    height: 4.75rem;
    width: 35.625rem;
    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-med;
        height: auto;
        width: 21.938rem;
        padding: 0.5rem;
    }
}

.badge-red{
    background-color: variables.$clr-red;
    color: variables.$clr-white;
    font-family: variables.$ff-primary;
    font-size: variables.$fs-xlg;
    font-weight: variables.$fw-bold;
    border-radius: 0.938rem;
    height: 4.75rem;
    width: 35.625rem;
}

.center-comp {
    align-items: center;
}

.widther{
    width: 81.006rem;
}

//registro receta-forms

.input-size{
    width: 29.5rem;
    height: 4.75rem;
    border-radius: 0.938rem;
    background-color: variables.$clr-white;
    border-color: variables.$clr-red;
    border-width: 0.188rem;
}

.textarea-size{
    width: 29.5rem;
    border-radius: 0.938rem;
    background-color: variables.$clr-white;
    border-color: variables.$clr-red;
    border-width: 0.188rem;
}

.btn-add{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-lg, variables.$fw-semibold, variables.$clr-white);
    width: 23.375rem;
    height: 5.375rem;
    margin: auto;
}

.spacer{
    margin-left: 7rem;
}

.img-fit{
    height: 10.125rem;
}

.img-modal{
    width: 48.813rem;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 4.063rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 4.063rem;
}

.spacer-modal{
    margin-left: 6rem;
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 0;
    }
}

.btn-modal{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-sm, variables.$fw-semibold, variables.$clr-white);
    width: 12rem;
    height: 4rem;
}

.add-margin{
    margin-left: 10rem;
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 0;
    }
}

.users-img{
    width: 11.063rem;
    margin-top: 5rem;
    margin-left: 8rem;
}

.custom-table{
    background-color: variables.$clr-light-gray !important;
    border-radius: 0.938rem;
    border: variables.$clr-red;
}

table{
    background-color: blue !important;
}

.btn-register{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-lg, variables.$fw-semibold, variables.$clr-white);
    width: 23.375rem;
    height: 5.375rem;
}

.btn-sign{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-lg, variables.$fw-semibold, variables.$clr-white);
    width: 29.5rem;
    height: 5.375rem;
    margin: auto;
    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-sm;
    }
}

.cancel-margin{
    margin-left: 3rem;
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 0;
    }
}

//RESPONSIVE

.offcanvas-header {
    display: none;
    @include media-queries.respond-to(media-queries.$phone) {
        display: block;
    }
}

//navbar media-queries

@include media-queries.respond-to(media-queries.$phone) {

    .bar-mb {
        width: 100%;
    }

    .icon-mb {
        width: 35%;
        padding-bottom: 1.25rem;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .hide{
        pointer-events: none;
    }

    .offcanvas-mb {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: variables.$clr-white;
        box-shadow: 0px 73px 99px #00000017;
        z-index: 1;
        overflow-y: scroll;
        overflow-x: hidden;
        transform: translateX(-100%);
        transition: transform .6s ease-in-out;
    }

    .show-mb-nav {
        visibility: visible;
        transform: translateX(0);
    }

    .center-comp {
        align-items: center;
    }

    .nav-sizer {
        height: 50px;
    }

    .margin-card-mb{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .margin-bcard-mb{
        padding: 0;
    }
}