@use 'abstracts/variables';
@use 'abstracts/mixins';

//top buttons-components

.btn-navg{
    @include mixins.btn(variables.$clr-light-gray, variables.$ff-primary, variables.$fs-xsm, variables.$fw-regular, variables.$clr-black);
    width: 11.063rem;
    height: 3.438rem;
}

.btn-search{
    @include mixins.btn(variables.$clr-black, variables.$ff-primary, variables.$fs-xsm, variables.$fw-regular, variables.$clr-white);
    width: 4.878rem;
    height: 3.438rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
}

.search-button-height{ 
    height: 3.25rem;
}

.s-bar {
    @include mixins.btn(variables.$clr-light-gray, variables.$ff-primary, variables.$fs-xsm, variables.$fw-regular, variables.$clr-dark-gray);
    width: 30.769rem;
    text-align: left;
    height: 3.438rem;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0.938rem;
    border-top-left-radius:0.938rem;
    border: none;
}

//cards' style and components

.top-card-style{
    background-color: variables.$clr-light-gray;
    height: 26.375rem;
    display: block;
    border-radius: 4.063rem;
    border: none;
    text-align: left;
}

.card-style{
    color: variables.$clr-black;
    background-color: variables.$clr-light-gray;
    border-radius: 4.063rem;
    border: none;

}

.img-style{
    height: 26.375rem;
    width: auto;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 4.063rem;
    border-top-left-radius:4.063rem;
}

.img-cards{
    border-bottom-right-radius: 0%;
    border-top-right-radius: 4.063rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 4.063rem;
    height: 14rem;
}

.btn-view{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-med, variables.$fw-regular, variables.$clr-white);
    width: 80%;
    margin: auto;
}

//modal style

//miscellaneous

.btn-badges{
    @include mixins.btn(variables.$clr-red, variables.$ff-primary, variables.$fs-xlg, variables.$fw-bold, variables.$clr-white);
    height: 4.75rem;
    width: 35.625rem;
}

.badge-red{
    background-color: variables.$clr-red;
    color: variables.$clr-white;
    font-family: variables.$ff-primary;
    font-size: variables.$fs-xlg;
    font-weight: variables.$fw-bold;
    border-radius: 0.938rem;
    height: 4.75rem;
    width: 35.625rem;
}

.center-comp {
    align-items: center;
}

.widther{
    width: 81.006rem;
}

//registro receta-forms

.input-size{
    width: 29.5rem;
    height: 4.75rem;
    border-radius: 0.938rem;
    background-color: variables.$clr-white;
    border-color: variables.$clr-red;
    border-width: 0.188rem;
}

.textarea-size{
    width: 29.5rem;
    border-radius: 0.938rem;
    background-color: variables.$clr-white;
    border-color: variables.$clr-red;
    border-width: 0.188rem;
}

.btn-add{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-lg, variables.$fw-semibold, variables.$clr-white);
    width: 23.375rem;
    height: 5.375rem;
    margin: auto;
}

.spacer{
    margin-left: 7rem;
}

.img-fit{
    height: 10.125rem;
}

.img-modal{
    width: 48.813rem;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 4.063rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 4.063rem;
}

.spacer-modal{
    margin-left: 6rem;
}

.btn-modal{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-sm, variables.$fw-semibold, variables.$clr-white);
    width: 12rem;
    height: 4rem;
}

.users-img{
    width: 11.063rem;
    margin-top: 5rem;
    margin-left: 8rem;
}

.table-style{
    background-color: variables.$clr-light-gray;
    border-radius: 0.938rem;
    border: variables.$clr-red;
}

.btn-register{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-lg, variables.$fw-semibold, variables.$clr-white);
    width: 23.375rem;
    height: 5.375rem;
}

.btn-sign{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-lg, variables.$fw-semibold, variables.$clr-white);
    width: 29.5rem;
    height: 5.375rem;
    margin: auto;
}