@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'media-queries';

//top buttons-components

.logo{
    width: 25%;
    margin-left: 3rem;
    @include media-queries.respond-to(media-queries.$phone) {
        width: 60%;
        margin-left: 5rem;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        width: 50%;
        margin-left: 9rem;
    }
}

.btn-navg{
    @include mixins.btn(variables.$clr-light-gray, variables.$ff-primary, variables.$fs-sm, variables.$fw-regular, variables.$clr-black);
    width: 8.688rem;
    height: 2.688rem;
    @include media-queries.respond-to(media-queries.$phone) {
        width: 9rem;
        height: 3.438rem;
        margin-top: 1rem;
        margin-left: 0;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        width: 9rem;
        height: 3.438rem;
        margin-top: 1rem;
        margin-left: 0;
    }
}

.btn-search{
    @include mixins.btn(variables.$clr-black, variables.$ff-primary, variables.$fs-sm, variables.$fw-regular, variables.$clr-white);
    height: 2.688rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
}

.search-button-height{ 
    height: 2.688rem;
    width: 70px;
}

.lens-icon{
    width: 90%;
}

.s-bar {
    @include mixins.btn(variables.$clr-light-gray, variables.$ff-primary, variables.$fs-sm, variables.$fw-regular, variables.$clr-dark-gray);
    width: 25.3rem;
    text-align: left;
    height: 2.688rem;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0.938rem;
    border-top-left-radius:0.938rem;
    border: none;
    @include media-queries.respond-to(media-queries.$phone) {
        width: 12rem;
        height: 3.438rem;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        width: 8rem;
        height: 3.438rem;
    }
}

//cards' style and components

.top-card-style{
    background-color: variables.$clr-light-gray;
    height: auto;
    display: block;
    border-radius: 4.063rem;
    border: none;
    text-align: left;
}

.card-style{
    color: variables.$clr-black;
    background-color: variables.$clr-light-gray;
    border-radius: 4.063rem;
    border: none;
    width: auto;
}

.img-style{
    height: 16.8rem;
    width: 35.125rem;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 4.063rem;
    border-top-left-radius:4.063rem;
    @include media-queries.respond-to(media-queries.$phone) {
        height: auto;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 4.063rem;
        border-bottom-left-radius: 0%;
        border-top-left-radius: 4.063rem;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        height: auto;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 4.063rem;
        border-bottom-left-radius: 0%;
        border-top-left-radius: 4.063rem;
    }
}

.padding-card{
    padding-top: 0.5rem;
}

.img-cards{
    border-bottom-right-radius: 0%;
    border-top-right-radius: 4.063rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 4.063rem;
    width: auto;
    height: 9.688rem;
}

.btn-view{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-med, variables.$fw-regular, variables.$clr-white);
    width: 100%;
    margin: auto;
}

//modal style

//miscellaneous

.badge-red{
    background-color: variables.$clr-red;
    color: variables.$clr-white;
    font-family: variables.$ff-primary;
    font-size: variables.$fs-lg;
    font-weight: variables.$fw-bold;
    border-radius: 0.938rem;
    height: 4.75rem;
    width: 35.625rem;
}

.center-comp {
    align-items: center;
}

.widther{
    width: 81.006rem;
}

//registro receta-forms

.display-forms{
    display: flex;
    @include media-queries.respond-to(media-queries.$phone) {
        display: block;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        display: block;
    }
}

.margin-user{
    margin-left: 6rem;
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 0;
    }
}

.input-size{
    width: 48.313rem;
    height: 2.688rem;
    border-radius: 0.625rem;
    background-color: variables.$clr-white;
    border-color: variables.$clr-red;
    border-width: 0.188rem;
    @include media-queries.respond-to(media-queries.$phone) {
        width: auto;
        height: auto;
    }
}

.textarea-size{
    width: 48.313rem;
    border-radius: 0.625rem;
    background-color: variables.$clr-white;
    border-color: variables.$clr-red;
    border-width: 0.188rem;
}

.upload-img{
    margin: auto;
    width: 48.313rem;

}

.btn-add{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-med, variables.$fw-semibold, variables.$clr-white);
    width: 12rem;
    height: 2.75rem;
    margin: auto;
}


.img-fit{
    height: 10.125rem;
}

.img-modal{
    width: 48.813rem;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 4.063rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 4.063rem;
}

.spacer-modal{
    margin-left: 6rem;
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 0;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        margin-left: 0;
    }
}

.btn-modal{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-med, variables.$fw-semibold, variables.$clr-white);
    width: 12rem;
    height: 2.75rem;
}

.add-margin{
    margin-left: 10rem;
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 0;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        margin-left: 0;
    }
}

.custom-table{
    background-color: variables.$clr-light-gray !important;
    border-radius: 0.938rem;
    border: variables.$clr-red;
}

table{
    background-color: blue !important;
}

.btn-register{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-lg, variables.$fw-semibold, variables.$clr-white);
    width: 23.375rem;
    height: 5.375rem;
}

.btn-sign{
    @include mixins.btn(variables.$clr-black, variables.$ff-secondary, variables.$fs-lg, variables.$fw-semibold, variables.$clr-white);
    width: 29.5rem;
    height: 5.375rem;
    margin: auto;
    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-sm;
    }
}

.cancel-margin{
    margin-left: 3rem;
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 0;
    }
}

//RESPONSIVE

.offcanvas-header {
    display: none;
    @include media-queries.respond-to(media-queries.$phone) {
        display: block;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape) {
        display: block;
    }
}

//navbar media-queries

@include media-queries.respond-to(media-queries.$phone) {

    .bar-mb {
        width: 100%;
    }

    .icon-mb {
        width: 35%;
        padding-bottom: 1.25rem;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .hide{
        pointer-events: none;
    }

    .offcanvas-mb {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: variables.$clr-white;
        box-shadow: 0px 73px 99px #00000017;
        z-index: 1;
        overflow-y: scroll;
        overflow-x: hidden;
        transform: translateX(-100%);
        transition: transform .6s ease-in-out;
    }

    .show-mb-nav {
        visibility: visible;
        transform: translateX(0);
    }

    .center-comp {
        align-items: center;
    }

    .nav-sizer {
        height: 50px;
    }

    .margin-card-mb{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .margin-bcard-mb{
        padding: 0;
    }
}

@include media-queries.respond-to(media-queries.$tablet-landscape) {

    .col-md-4{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .bar-mb {
        width: 100%;
    }

    .icon-mb {
        width: 35%;
        padding-bottom: 1.25rem;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .hide{
        pointer-events: none;
    }

    .offcanvas-mb {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: variables.$clr-white;
        box-shadow: 0px 73px 99px #00000017;
        z-index: 1;
        overflow-y: scroll;
        overflow-x: hidden;
        transform: translateX(-100%);
        transition: transform .6s ease-in-out;
    }

    .show-mb-nav {
        visibility: visible;
        transform: translateX(0);
    }

    .center-comp {
        align-items: center;
    }

    .nav-sizer {
        height: 50px;
    }

    .margin-card-mb{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .margin-bcard-mb{
        padding: 0;
    }

    .margin-header{
        margin-left: 6rem;
    }

    .col-md-2{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }

    .custom-col{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }

    .custom-col-modal{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.33333333%;
        margin: auto;
    }
    .col-md{
        flex: none;
    }

    .img-resizer{
        width: 24.438rem;
    }
}